@font-face {
	font-family: "swFont";
	src: url('../font/Starjedi.ttf');
}

* {
	font-family: "swFont", Helvetica, Arial, sans-serif;
	text-transform: lowercase;
	color: #fff;
}

label {
	font-size: 0.65em;
}

body {
	background-color: #000;
}

.center {
	text-align: center;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-row-space-around {
	display: flex;
	justify-content: space-around;
}

.flex-row-center {
	display: flex;
	justify-content: center;
}

.width-10 {
	width: 10%;
}

.width-20 {
	width: 20%;
}

.width-30 {
	width: 30%;
}

.width-40 {
	width: 40%;
}

.width-50 {
	width: 50%;
}

.width-60 {
	width: 60%;
}

.width-70 {
	width: 70%;
}

.width-80 {
	width: 80%;
}

.width-90 {
	width: 90%;
}

.width-100 {
	width: 100%;
}

.section {
	margin: 0px 50px 20px 50px;
	padding-bottom: 20px;
	border: 3px solid #FFC51E;
	border-radius: 5px;
}

.sous-section {
	margin: auto;
}

.bouton {
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
}

#generer::after {
	content: "";
	display: block;
	background-color: #109CFF;
	height: 4px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 330ms ease-in-out;
} 

#generer:hover::after {
	transform: scaleX(1);
}

#quitter::after {
	content: "";
	display: block;
	background-color: red;
	height: 4px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 330ms ease-in-out;
} 

#quitter:hover::after {
	transform: scaleX(1);
}

#quitter, #generer {
	margin-top: 5px;
}